*.iml
.gradle
/local.properties
/.idea
/.vscode
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.apks
*.jks
*.keystore
*.p12
*.pem
*.key
*.der
*.mobileprovision
*.orig
app/google-services.json
app/release/
**/service-account*.json
**/firebase-adminsdk*.json
**/secrets.properties
**/signing.properties
